<div class="container homepage"><br><br>
<div class="row">
  <div class="col-sm-4">
    <a href="homes" class="homelink">
    <div class="panel panel-default panel1">
        <div class="row">
          <div class="col-sm-offset-4 col-sm-4">
            <img src="users.png" alt="Users" class="" height="90px">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h1 class="panel-title">Users</h1>
          </div>
          <div class="col-sm-12">
            <h4 class="h4">View, create, edit or remove users.</h4>
          </div>
        </div>
    </div></a>
  </div>
  <div class="col-sm-4">
    <a href="/items" class="homelink">
      <div class="panel panel-default panel1">
        <div class="row">
          <div class="col-sm-offset-4 col-sm-4">
            <img src="items.png" alt="Items" height="90px">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h1 class="panel-title">Items</h1>
          </div>
          <div class="col-sm-12">
            <h4 class="h4">View, create, edit or remove items.</h4>
          </div>
        </div>
      </div></a>
  </div>
  <div class="col-sm-4">
    <a href="/sales" class="homelink">
      <div class="panel panel-default panel1">
        <div class="row">
          <div class="col-sm-offset-4 col-sm-4">
            <img src="sales.jpg" alt="Sales" class="img-rounded" height="90px">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h1 class="panel-title">Sales</h1>
          </div>
          <div class="col-sm-12">
            <h4 class="h4">View, create, edit or remove sales.</h4>
          </div>
        </div>
      </div></a>
  </div>
</div>
  <div class="row">
    <div class="col-sm-4">
      <a href="/homes" class="homelink">
        <div class="panel panel-default panel1">
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <img src="purchase.png" alt="Users" class="" height="90px">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1 class="panel-title">Purchase</h1>
            </div>
            <div class="col-sm-12">
              <h4 class="h4">View, create, edit or remove purchase.</h4>
            </div>
          </div>
        </div></a>
    </div>
    <div class="col-sm-4">
      <a href="/suppliers" class="homelink">
        <div class="panel panel-default panel1">
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <img src="supplier.jpg" alt="Suppliers" class="" height="90px">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1 class="panel-title">Suppliers</h1>
            </div>
            <div class="col-sm-12">
              <h4 class="h4">View, create, edit or remove suppliers.</h4>
            </div>
          </div>
        </div></a>
    </div>
    <div class="col-sm-4">
      <a href="/customers" class="homelink">
        <div class="panel panel-default panel1">
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <img src="customer.png" alt="Customers" class="" height="90px">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1 class="panel-title">Customers</h1>
            </div>
            <div class="col-sm-12">
              <h4 class="h4">View, create, edit or remove customers.</h4>
            </div>
          </div>
        </div></a>
    </div>
  </div>
  <div class="row">
    <div class=" col-sm-4">
      <a href="/logs" class="homelink">
        <div class="panel panel-default panel1">
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <img src="logs.jpg" alt="Logs" class="" height="90px">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1 class="panel-title">Logs</h1>
            </div>
            <div class="col-sm-12">
              <h4 class="h4">View logs</h4>
            </div>
          </div>
        </div></a>
    </div>
      <div class=" col-sm-4">
        <a href="/company_profiles/8/edit" class="homelink">
          <div class="panel panel-default panel1">
            <div class="row">
              <div class="col-sm-offset-4 col-sm-4">
                <img src="s.png" alt="Suppliers" class="" height="90px">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h1 class="panel-title">Settings</h1>
              </div>
              <div class="col-sm-12">
                <h4 class="h4">View or update company profiles</h4>
              </div>
            </div>
          </div></a>
      </div>
  </div>
  </div>