<div class="container homepage"><br><br>
  <div class="row">
    <div class="col-sm-4">
      <a href="/units" class="homelink">
        <div class="panel panel-default panel1">
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <img src="units.png" alt="Users" class="" height="90px">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1 class="panel-title">Units</h1>
            </div>
            <div class="col-sm-12">
              <h4 class="h4">View, create, edit or remove units.</h4>
            </div>
          </div>
        </div></a>
    </div>
    <div class="col-sm-4">
      <a href="/item_groups" class="homelink">
        <div class="panel panel-default panel1">
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <img src="g.png" alt="ItemGroups" height="90px">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1 class="panel-title">Item Groups</h1>
            </div>
            <div class="col-sm-12">
              <h4 class="h4">View, create, edit or remove item groups.</h4>
            </div>
          </div>
        </div></a>
    </div>
    <div class="col-sm-4">
      <a href="/sales" class="homelink">
        <div class="panel panel-default panel1">
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <img src="calendar.png" alt="Company Profiles" class="img-rounded" height="90px">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1 class="panel-title">Company Profiles</h1>
            </div>
            <div class="col-sm-12">
              <h4 class="h4">View or change company profiles.</h4>
            </div>
          </div>
        </div></a>
    </div>
  </div>
</div>